<div *ngIf="user$ | async as user">
  <h2>{{user.firstName}} {{user.lastName}}</h2>
  <table>
    <caption>Details</caption>
    <thead>
    <tr>
      <th>ID</th><th>Gender</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="user-id">{{user.id}}</td>
      <td class="user-gender">{{user.gender | gender}}</td>
    </tr>
    </tbody>
  </table>
</div>
